@import '../../styles/variables.scss';

.footer {
  padding-top: 52px;
  text-align: center;
  font-size: 14px;
  
  a {
    text-decoration: none !important;
  }

}

.testIMG{ 
  float:left; 
  display:inline; 
  margin-top:10px; 
  margin-left:215px; 
} 
.testTXT{ 
  float:left; 
  display:inline; 
  margin-top:15px; 
  margin-left:7px; 
}


